.logo-header{ 
    width: 20%; 
    text-align: center; 
    position: absolute; 
    top:0;
}
.centered {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 60%);
}
.div-navbarout{ 
    position: absolute; 
    z-index: 999; 
    width: 100%;
}
.icon-login{ width: 50px;}
.div-navbarin{ 
    text-align: center; 
    transform: translateY(-65px);
}
.btn-custom{  
    background-color: transparent; 
    border:none; font-family: 'HelvethaicaMed';  
    color: white; 
    font-size: 25px; 
}
.nav-inline{ display: inline; margin:0 10px;}
.container-center {
    position: relative;
    text-align: center;
    color: transparent;
    width: 100%;
}
.border-rds{
    border-radius: 25px; 
    border: 1px solid white; 
    line-height: 20px; 
    padding-top: 10px; 
    width: 100%;
}
.border-rds.foot{ border-radius: 25px; border: 1px solid #2aa84d; }
.font-recommend{ color: #2aa84d;}
.border-signin{ 
    border-radius: 25px; 
    border: 1px solid white; 
    line-height: 20px; 
    padding-top: 10px;  
}
button:focus {
    outline: none;
  }
.nav-inline button:hover {
    border-bottom: 3px solid red;
  }
  
  .nav-inline button.active {
    border-bottom: 3px solid red;
  }
.container-content {
    width: 100%;
    padding-right: 100px;
    padding-left: 100px;
    margin-right: auto;
    margin-left: auto; 
    margin-bottom: 30px;
}
.fix-icon{ width: 50%; }
.font-body{ 
    font-family: 'HelvethaicaX'; 
    color:#2aa84d; 
    font-size: 25px; 
    text-align: center;
}
.mt-block{ 
    margin-bottom: 10px; 
    padding-right: 0 !important;
}
.mt-box{ 
    margin-top: 50px; 
    position: relative;
}
.vertical-box { 
    position: absolute; 
    top: 50%; 
    left: 77%; 
    transform: translate(-50%, -50%);
}
.header-body-pt{ 
    color:#2aa84d; 
    font-family: 'HelvethaicaMed'; 
    font-size: 40px; 
    line-height: 45px;
}
.content-body-pt{ 
    color:black; 
    font-family: 'HelvethaicaX'; 
    font-size: 25px; 
    line-height: 25px;
}
.btn-detail{ 
    background-color: #c62a2d; 
    color: white;
    border-radius: 20px;
    font-family: 'HelvethaicaMed';
    padding: 0 20px;
    font-size: 20px;
    width: 40%;
}
.btn-detail.register{ 
    background-color: #2aa84d; 
    width: 40%;
}
.btnstation{ background-color: #c62a2d;
    color: white;
    border-radius: 20px;
    font-family: 'HelvethaicaMed';
    padding: 0 20px;
    font-size: 20px;
    width: 200px;
}
.btnstation.detail{ background-color: #2aa84d; width: 200px;}
.bg-content{ background: url(`/website/images/bgweb-01.jpg`); background-size: cover;}
.bg-subcontent{ background: url(`/website/images/bgapp-01.jpg`); background-size: cover; margin:0;}
.marginbt-subcontent{ padding-bottom: 100px; padding-top: 20px;}
.textinsubcontent{ margin: 20px 0; width: 100%; padding: 15px 0;}
.title-subcontent{
    color: #53a149;
    font-size: 60px;
    font-family: 'HelvethaicaX';
    margin: 0 35px;
}
.iconinsubcontent{ 
    margin: 15px 0;
    width: 100%;
}
.title-body{ 
    font-size: 60px;
    color: white;
    font-family: 'HelvethaicaMed';
    margin: 0 50px;
}
.title-news{
    color: white;
    font-family: 'HelvethaicaMed';
    font-size: 60px;
    margin: 0 50px;
    padding-top: 50px;
}
.title-green{ font-family: 'HelvethaicaMed'; color: #2aa84d; font-size: 60px; margin: 0 50px;}
.card-img-top{ border-radius: 10px;}
.card{ background-color: transparent !important;}
.card-body{ background-color: #a6c64b; border-radius: 10px; height: 80px; line-height: 16px;}
.card-text{ font-family: 'HelvethaicaMed'; color: white;}
.set-margin{
    border: rgba(255, 255, 255, 0) 5px solid;
}
.text-sub-content{ font-family: 'HelvethaicaMed'; font-size: 30px; color: #2aa84d; line-height: 22px;}
.text-sub-contentbody{ font-family: 'HelvethaicaX'; font-size: 20px; line-height: 22px;}
.LazyLoad:not(.is-visible) {
    background: url(/website/images/lazy-loading.gif) 50% 50% no-repeat transparent;
    height: 270px;
}
.in-container .LazyLoad:not(.is-visible) {
    background: url(/website/images/lazy-loading.gif) 50% 50% no-repeat transparent;
    height: 90px;
}
.mb-apppt{
    margin-bottom: 0;
}
.set-absolute{ position: absolute;}
.place-rec{ width: 10%;}
.set-inline{ display: inline; margin: 0 10px;}
.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background: url(/website/images/footer-01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 30px 0;
 }
 .set-zindex{
    z-index: 999;
    position: relative;
 }
.font-footer{ font-family: 'HelvethaicaX';}
.head-footer-font{ font-family: 'HelvethaicBd'; font-size: 25px;}
.ptg-energy-font{ font-family: 'Ramintra'; font-size: 30px; line-height: 20px;}
.set-content-detail{ vertical-align: middle; }
.mobile-pt{ display: none;}
.line-clamp {     
    font-size: 16px;
    /* autoprefixer: off */
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
}
.seeAllright{ float:right;width:100px; margin-top:15px; margin-right: 80px;}
.seeAllInline{ display: inline; }
.text-station{ position: absolute; z-index: 999; }
.picture-station{ position: relative; width: 100%; }
.btn-station{ 
    z-index: 999;
    position: absolute;
    margin-top: -10%;
    left: 37%;
}
.fix-slider{ padding: 80px; }
.header-sigin{
    color: #2aa84d;
    font-size: 40px;
    font-family: 'HelvethaicBd';
    text-align: left;
}
.label-forgot{
    color: #ababab;
    font-family: 'HelvethaicaLi';
    text-align: left;
}
.label-header{
    color:#2aa84d;
    font-family: 'HelvethaicaLi';
    text-align: left;
}
.label-text-pc{
    font-family: 'HelvethaicaLi';
}
@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) { 
        .font-PT{ font-size: 40px;}
        .font-body{ font-size: 20px; line-height: 50px; margin-top:5px;}
        .fix-icon{ width: 60%;}
        .container-content{ padding: 20px;}
        .div-navbarout{ display: none;}
        .mobile-pt{ display: block;}
        .pc-pt{ display: none;}
        .content-body-pt{ font-size: 20px; line-height: 20px;}
        .header-body-pt{ line-height: 35px;}   
        .mt-block{ padding: 5px; }
        .content-pt{ padding: 0;}
        .LazyLoad:not(.is-visible) { height: 120px;}
        .title-body{ font-size: 40px; line-height: 35px; margin: 0;}
        .fix-slider{ padding: 30px;} 
        .border-rds{ width: 30%;} 
        .border-rdss{ width: 80; border-radius: 25px; border: 1px solid white; line-height: 20px; padding-top: 10px; }
        .border-rdss.bb{border-radius: 25px; border: 1px solid #2aa84d;}
        .set-pdmobile{ padding: 0 30px; position: relative;}
        .set-seeall{ width: 80%;right: 28px;text-align: right; top: 50px;position: absolute;}
        .title-subcontent{ font-size: 40px; line-height: 35px; margin:0;}
        .bg-subcontent{ 
            background-position: bottom; 
            background: url(/website/images/bgapp-pt.jpg) no-repeat center center fixed; 
            background-size: cover; 
            height: 100%; 
            background-attachment: scroll;
        }.content-sub{ padding: 5px 0;margin: 14px 0;}
        .btn-detail{ width: 47%;} .btn-detail.register{ width: 47%;}
        .text-sub-content{ font-size: 25px;} .set-seeall{ top:40px;}.title-green{ font-size: 40px; margin: 0 14px;}
        .btnstation{ width:130px;padding-top: 5px;} .btnstation.detail{ width: 130px;} 
        .setmb-station{
            position: absolute;   
            left: 16%;
            transform: translate(0, -113%);
        }.place-rec{ width: 14%;} .seeAllright{ margin: 34px 0;}
        .footer{ 
            background: url(/website/images/mobilefooter.jpg)no-repeat center center fixed;        
            background-position: bottom;      
            background-size: cover; 
            height: 100%; 
            background-attachment: scroll;
        }
        .setalign{ 
            position: absolute;
            margin-top: -15%;
            transform: translate(65%, 10%);
        }
        .setalign-two{ 
            position: absolute;
            margin-left: 89px;
            margin-top: -33px;
        }
        .centered{
            transform: translate(-50%, 70%);
        } 
        .logo-header{ width: 30%;} 
        .settitlemb{     
            transform: translate(0, 40%);
            right: 5%;
            width: 8%;
        }
        .settitlebm{ 
            transform: translate(0, 40%);
            left: 50%;
            width: 50%;
        }
        .setnavmb{ position: absolute; z-index: 999;width: 100%; top: 70%; }
        .arrow-up {
            margin-left: 87%;
            width: 0;
            height: 0;
            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
            border-bottom: 7px solid #fefefe;
        }
        .arrow-down{
            left: 0;
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 10px solid #75b652;
            position: absolute;
            top: 37%;
        }
        .bg-navigation-mobile{
            background-color: #75b652;
            height: 100vh;
        }
        .border-nav-mobile{
            border-bottom: 1px solid white;
        }
        .font-nav-mobile{
            color: white;
            font-family: 'HelvethaicaX';
            font-size: 20px;
            padding: 25px 0;
            text-align: left;
            font-size: 25px;
        }
        .setting-navpos{
            position: absolute;
            z-index: 999;
            padding: 50px 50px;
            margin-top: 34px;
            width: 375px;
            left: 0;
        }
        .bd-radius{
            border-radius: 20px;
            padding-top: 8px;
            margin: 20px 30px;
            background-color: #c6292d;
            color: white;
            font-family: 'HelvethaicBd';
            font-size: 25px;
            border: none;
        }
        .navbar-light .navbar-toggler{
            border:none;
        }
        .dropdown-toggle::after{
            border:none;
        }
        a:hover{
            color: white;
        }
        .dropdown-item{
            font-family: 'HelvethaicaX';
            font-size: 23px;
            color: #75b652;
            padding: 15px 50px;
        }
        .border-dropdown-it{
            border-bottom: 1px solid #75b652;
        }
        .navbar-nav .dropdown-menu {
            width: 136.5%;
            margin-top: -1px;
            border: none;
            border-radius: 0;
            margin-left: -50px;
            position: static;
            float: none;
        }
}
.form-control-set{
    display: block;
    width: 100%;
    padding: 5px 11px;
    font-size: 20px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 20px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
         -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control-set:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
/* Responsive */
@media screen and (orientation: landscape) and (max-width: 960px) {
    .font-PT{ font-size: 40px;}
    .font-body{ font-size: 20px; line-height: 50px; margin-top:5px;}
    .fix-icon{ width: 60%;}
    .container-content{ padding: 20px;}
    .div-navbarout{ display: none;}
    .mobile-pt{ display: block;}
    .pc-pt{ display: none;}
    .content-body-pt{ font-size: 20px; line-height: 20px;}
    .header-body-pt{ line-height: 35px;}   
    .mt-block{ padding: 5px; }
    .content-pt{ padding: 0;}
    .LazyLoad:not(.is-visible) { height: 120px;}
    .title-body{ font-size: 40px; line-height: 35px; margin: 0;}
    .fix-slider{ padding: 30px;} 
    .border-rds{ width: 30%;} 
    .border-rdss{ width: 80; border-radius: 25px; border: 1px solid white; line-height: 20px; padding-top: 10px; }
    .border-rdss.bb{border-radius: 25px; border: 1px solid #2aa84d;}
    .set-pdmobile{ padding: 0 30px; position: relative;}
    .set-seeall{ width: 80%;right: 28px;text-align: right; top: 50px;position: absolute;}
    .title-subcontent{ font-size: 40px; line-height: 35px; margin:0;}
    .bg-subcontent{ 
        background-position: bottom; 
        background: url(/website/images/bgapp-pt.jpg) no-repeat center center fixed; 
        background-size: cover; 
        height: 100%; 
        background-attachment: scroll;
    }.content-sub{ padding: 5px 0;margin: 14px 0;}
    .btn-detail{ width: 47%;} .btn-detail.register{ width: 47%;}
    .text-sub-content{ font-size: 25px;} .set-seeall{ top:40px;}.title-green{ font-size: 40px; margin: 0 14px;}
    .btnstation{ width:130px;padding-top: 5px;} .btnstation.detail{ width: 130px;} 
    .setmb-station{
        position: absolute;   
        left: 16%;
        transform: translate(0, -113%);
    }.place-rec{ width: 14%;} .seeAllright{ margin: 34px 0;}
    .footer{ 
        background: url(/website/images/mobilefooter.jpg)no-repeat center center fixed;        
        background-position: bottom;      
        background-size: cover; 
        height: 100%; 
        background-attachment: scroll;
    }
    .setalign{ 
        position: absolute;
        margin-top: -15%;
        transform: translate(65%, 10%);
    }
    .setalign-two{ 
        position: absolute;
        margin-left: 89px;
        margin-top: -33px;
    }
    .centered{
        transform: translate(-50%, 70%);
    } 
    .logo-header{ width: 30%;} 
    .settitlemb{     
        transform: translate(0, 40%);
        right: 5%;
        width: 8%;
    }
    .settitlebm{ 
        transform: translate(0, 40%);
        left: 50%;
        width: 50%;
    }
    .setnavmb{ position: absolute; z-index: 999;width: 100%; top: 70%; }
    .arrow-up {
        margin-left: 87%;
        width: 0;
        height: 0;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-bottom: 7px solid #fefefe;
    }
    .arrow-down{
        left: 0;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid #75b652;
        position: absolute;
        top: 37%;
    }
    .bg-navigation-mobile{
        background-color: #75b652;
        height: 100vh;
    }
    .border-nav-mobile{
        border-bottom: 1px solid white;
    }
    .font-nav-mobile{
        color: white;
        font-family: 'HelvethaicaX';
        font-size: 20px;
        padding: 25px 0;
        text-align: left;
        font-size: 25px;
    }
    .setting-navpos{
        position: absolute;
        z-index: 999;
        padding: 50px 50px;
        margin-top: 34px;
        width: 375px;
        left: 0;
    }
    .bd-radius{
        border-radius: 20px;
        padding-top: 8px;
        margin: 20px 30px;
        background-color: #c6292d;
        color: white;
        font-family: 'HelvethaicBd';
        font-size: 25px;
        border: none;
    }
    .navbar-light .navbar-toggler{
        border:none;
    }
    .dropdown-toggle::after{
        border:none;
    }
    a:hover{
        color: white;
    }
    .dropdown-item{
        font-family: 'HelvethaicaX';
        font-size: 23px;
        color: #75b652;
        padding: 15px 50px;
    }
    .border-dropdown-it{
        border-bottom: 1px solid #75b652;
    }
    .navbar-nav .dropdown-menu {
        width: 136.5%;
        margin-top: -1px;
        border: none;
        border-radius: 0;
        margin-left: -50px;
        position: static;
        float: none;
    }
    .set-zindex{
        position: absolute;
     }
}
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) {
    .set-zindex{
        position: absolute;
     }
}
@media only screen and (orientation: portrait) and (min-width: 320px) and (max-width: 374px){ /* For iPhone 5 */
    .font-PT{ font-size: 40px;}
    .font-body{ font-size: 20px; line-height: 50px; margin-top:5px;}
    .fix-icon{ width: 60%;}
    .container-content{ padding: 20px;}
    .div-navbarout{ display: none;}
    .mobile-pt{ display: block;}
    .pc-pt{ display: none;}
    .content-body-pt{ font-size: 20px; line-height: 20px;}
    .header-body-pt{ line-height: 35px;}   
    .mt-block{ padding: 5px; }
    .content-pt{ padding: 0;}
    .LazyLoad:not(.is-visible) { height: 120px;}
    .title-body{ font-size: 40px; line-height: 35px; margin: 0;}
    .fix-slider{ padding: 30px;} 
    .border-rds{ width: 30%;} 
    .border-rdss{ width: 80; border-radius: 25px; border: 1px solid white; line-height: 20px; padding-top: 10px; }
    .border-rdss.bb{border-radius: 25px; border: 1px solid #2aa84d;}
    .set-pdmobile{ padding: 0 30px; position: relative;}
    .set-seeall{ width: 80%;right: 28px;text-align: right; top: 50px;position: absolute;}
    .title-subcontent{ font-size: 40px; line-height: 35px; margin:0;}
    .bg-subcontent{ 
        background-position: bottom; 
        background: url(/website/images/bgapp-pt.jpg) no-repeat center center fixed; 
        background-size: cover; 
        height: 100%; 
        background-attachment: scroll;
    }.content-sub{ padding: 5px 0;margin: 14px 0;}
    .btn-detail{ width: 47%;} .btn-detail.register{ width: 47%;}
    .text-sub-content{ font-size: 25px;} .set-seeall{ top:40px;}.title-green{ font-size: 40px; margin: 0 14px;}
    .btnstation{ width:130px;padding-top: 5px;} .btnstation.detail{ width: 130px;} 
    .setmb-station{
        position: absolute;   
        left: 16%;
        transform: translate(0, -113%);
    }.place-rec{ width: 14%;} .seeAllright{ margin: 34px 0;}
    .footer{ 
        background: url(/website/images/mobilefooter.jpg)no-repeat center center fixed;        
        background-position: bottom;      
        background-size: cover; 
        height: 100%; 
        background-attachment: scroll;
    }
    .setalign{ 
        position: absolute;
        margin-top: -15%;
        transform: translate(65%, 10%);
    }
    .setalign-two{ 
        position: absolute;
        margin-left: 89px;
        margin-top: -33px;
    }
    .centered{
        transform: translate(-50%, 70%);
    } 
    .logo-header{ width: 30%;} 
    .settitlemb{     
        transform: translate(0, 40%);
        right: 5%;
        width: 8%;
    }
    .settitlebm{ 
        transform: translate(0, 40%);
        left: 50%;
        width: 50%;
    }
    .setnavmb{ position: absolute; z-index: 999;width: 100%; top: 70%; }
    .arrow-up {
        margin-left: 87%;
        width: 0;
        height: 0;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-bottom: 7px solid #fefefe;
    }
    .arrow-down{
        left: 0;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid #75b652;
        position: absolute;
        top: 37%;
    }
    .bg-navigation-mobile{
        background-color: #75b652;
        height: 100vh;
    }
    .border-nav-mobile{
        border-bottom: 1px solid white;
    }
    .font-nav-mobile{
        color: white;
        font-family: 'HelvethaicaX';
        font-size: 20px;
        padding: 25px 0;
        text-align: left;
        font-size: 25px;
    }
    .setting-navpos{
        position: absolute;
        z-index: 999;
        padding: 50px 50px;
        margin-top: 34px;
        width: 375px;
        left: 0;
    }
    .bd-radius{
        border-radius: 20px;
        padding-top: 8px;
        margin: 20px 30px;
        background-color: #c6292d;
        color: white;
        font-family: 'HelvethaicBd';
        font-size: 25px;
        border: none;
    }
    .navbar-light .navbar-toggler{
        border:none;
    }
    .dropdown-toggle::after{
        border:none;
    }
    a:hover{
        color: white;
    }
    .dropdown-item{
        font-family: 'HelvethaicaX';
        font-size: 23px;
        color: #75b652;
        padding: 15px 50px;
    }
    .border-dropdown-it{
        border-bottom: 1px solid #75b652;
    }
    .navbar-nav .dropdown-menu {
        width: 136.5%;
        margin-top: -1px;
        border: none;
        border-radius: 0;
        margin-left: -50px;
        position: static;
        float: none;
    }
    .set-zindex{
        position: absolute;
     }
}
@media only screen and (orientation: portrait) and (min-width: 375px) and (max-width: 413px){ /* For iPhone 6,7,8 */
    .font-PT{ font-size: 40px;}
    .font-body{ font-size: 20px; line-height: 50px; margin-top:5px;}
    .fix-icon{ width: 60%;}
    .container-content{ padding: 20px;}
    .div-navbarout{ display: none;}
    .mobile-pt{ display: block;}
    .pc-pt{ display: none;}
    .content-body-pt{ font-size: 20px; line-height: 20px;}
    .header-body-pt{ line-height: 35px;}   
    .mt-block{ padding: 5px; }
    .content-pt{ padding: 0;}
    .LazyLoad:not(.is-visible) { height: 120px;}
    .title-body{ font-size: 40px; line-height: 35px; margin: 0;}
    .fix-slider{ padding: 30px;} 
    .border-rds{ width: 30%;} 
    .border-rdss{ width: 80; border-radius: 25px; border: 1px solid white; line-height: 20px; padding-top: 10px; }
    .border-rdss.bb{border-radius: 25px; border: 1px solid #2aa84d;}
    .set-pdmobile{ padding: 0 30px; position: relative;}
    .set-seeall{ width: 80%;right: 28px;text-align: right; top: 50px;position: absolute;}
    .title-subcontent{ font-size: 40px; line-height: 35px; margin:0;}
    .bg-subcontent{ 
        background-position: bottom; 
        background: url(/website/images/bgapp-pt.jpg) no-repeat center center fixed; 
        background-size: cover; 
        height: 100%; 
        background-attachment: scroll;
    }.content-sub{ padding: 5px 0;margin: 14px 0;}
    .btn-detail{ width: 47%;} .btn-detail.register{ width: 47%;}
    .text-sub-content{ font-size: 25px;} .set-seeall{ top:40px;}.title-green{ font-size: 40px; margin: 0 14px;}
    .btnstation{ width:130px;padding-top: 5px;} .btnstation.detail{ width: 130px;} 
    .setmb-station{
        position: absolute;   
        left: 16%;
        transform: translate(0, -113%);
    }.place-rec{ width: 14%;} .seeAllright{ margin: 34px 0;}
    .footer{ 
        background: url(/website/images/mobilefooter.jpg);
        background-size: cover;
        background-position: unset;
    }
    .setalign{ 
        position: absolute;
        margin-top: -15%;
        transform: translate(65%, 10%);
    }
    .setalign-two{ 
        position: absolute;
        margin-left: 89px;
        margin-top: -33px;
    }
    .centered{
        transform: translate(-50%, 70%);
    } 
    .logo-header{ width: 30%;} 
    .settitlemb{     
        transform: translate(0, 40%);
        right: 5%;
        width: 8%;
    }
    .settitlebm{ 
        transform: translate(0, 40%);
        left: 50%;
        width: 50%;
    }
    .setnavmb{ position: absolute; z-index: 999;width: 100%; top: 70%; }
    .arrow-up {
        margin-left: 87%;
        width: 0;
        height: 0;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-bottom: 7px solid #fefefe;
    }
    .arrow-down{
        left: 0;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid #75b652;
        position: absolute;
        top: 37%;
    }
    .bg-navigation-mobile{
        background-color: #75b652;
        height: 100vh;
    }
    .border-nav-mobile{
        border-bottom: 1px solid white;
    }
    .font-nav-mobile{
        color: white;
        font-family: 'HelvethaicaX';
        font-size: 20px;
        padding: 25px 0;
        text-align: left;
        font-size: 25px;
    }
    .setting-navpos{
        position: absolute;
        z-index: 999;
        padding: 50px 50px;
        margin-top: 34px;
        width: 375px;
        left: 0;
    }
    .bd-radius{
        border-radius: 20px;
        padding-top: 8px;
        margin: 20px 30px;
        background-color: #c6292d;
        color: white;
        font-family: 'HelvethaicBd';
        font-size: 25px;
        border: none;
    }
    .navbar-light .navbar-toggler{
        border:none;
    }
    .dropdown-toggle::after{
        border:none;
    }
    a:hover{
        color: white;
    }
    .dropdown-item{
        font-family: 'HelvethaicaX';
        font-size: 23px;
        color: #75b652;
        padding: 15px 50px;
    }
    .border-dropdown-it{
        border-bottom: 1px solid #75b652;
    }
    .navbar-nav .dropdown-menu {
        width: 136.5%;
        margin-top: -1px;
        border: none;
        border-radius: 0;
        margin-left: -50px;
        position: static;
        float: none;
    }
    .set-zindex{
        position: absolute;
     }
}
@media only screen and (orientation: portrait) and (min-width: 414px) and (max-width: 736px){ /* For iPhone 6,7,8 plus */
     .font-PT{ font-size: 40px;}
        .font-body{ font-size: 20px; line-height: 50px; margin-top:5px;}
        .fix-icon{ width: 60%;}
        .container-content{ padding: 20px;}
        .div-navbarout{ display: none;}
        .mobile-pt{ display: block;}
        .pc-pt{ display: none;}
        .content-body-pt{ font-size: 20px; line-height: 20px;}
        .header-body-pt{ line-height: 35px;}   
        .mt-block{ padding: 5px; }
        .content-pt{ padding: 0;}
        .LazyLoad:not(.is-visible) { height: 120px;}
        .title-body{ font-size: 40px; line-height: 35px; margin: 0;}
        .fix-slider{ padding: 30px;} 
        .border-rds{ width: 30%;} 
        .border-rdss{ width: 80; border-radius: 25px; border: 1px solid white; line-height: 20px; padding-top: 10px; }
        .border-rdss.bb{border-radius: 25px; border: 1px solid #2aa84d;}
        .set-pdmobile{ padding: 0 30px; position: relative;}
        .set-seeall{ width: 80%;right: 28px;text-align: right; top: 50px;position: absolute;}
        .title-subcontent{ font-size: 40px; line-height: 35px; margin:0;}
        .bg-subcontent{ 
            background-position: bottom; 
            background: url(/website/images/bgapp-pt.jpg) no-repeat center center fixed; 
            background-size: cover; 
            height: 100%; 
            background-attachment: scroll;
        }.content-sub{ padding: 5px 0;margin: 14px 0;}
        .btn-detail{ width: 47%;} .btn-detail.register{ width: 47%;}
        .text-sub-content{ font-size: 25px;} .set-seeall{ top:40px;}.title-green{ font-size: 40px; margin: 0 14px;}
        .btnstation{ width:130px;padding-top: 5px;} .btnstation.detail{ width: 130px;} 
        .setmb-station{
            position: absolute;   
            left: 16%;
            transform: translate(0, -113%);
        }.place-rec{ width: 14%;} .seeAllright{ margin: 34px 0;}
        .footer{ 
            background: url(/website/images/mobilefooter.jpg)no-repeat center center fixed;        
            background-position: bottom;      
            background-size: cover; 
            height: 100%; 
            background-attachment: scroll;
        }
        .setalign{ 
            position: absolute;
            margin-top: -15%;
            transform: translate(65%, 10%);
        }
        .setalign-two{ 
            position: absolute;
            margin-left: 89px;
            margin-top: -33px;
        }
        .centered{
            transform: translate(-50%, 70%);
        } 
        .logo-header{ width: 30%;} 
        .settitlemb{     
            transform: translate(0, 40%);
            right: 5%;
            width: 8%;
        }
        .settitlebm{ 
            transform: translate(0, 40%);
            left: 50%;
            width: 50%;
        }
        .setnavmb{ position: absolute; z-index: 999;width: 100%; top: 70%; }
        .arrow-up {
            margin-left: 87%;
            width: 0;
            height: 0;
            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
            border-bottom: 7px solid #fefefe;
        }
        .arrow-down{
            left: 0;
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 10px solid #75b652;
            position: absolute;
            top: 37%;
        }
        .bg-navigation-mobile{
            background-color: #75b652;
            height: 100vh;
        }
        .border-nav-mobile{
            border-bottom: 1px solid white;
        }
        .font-nav-mobile{
            color: white;
            font-family: 'HelvethaicaX';
            font-size: 20px;
            padding: 25px 0;
            text-align: left;
            font-size: 25px;
        }
        .setting-navpos{
            position: absolute;
            z-index: 999;
            padding: 50px 50px;
            margin-top: 34px;
            width: 375px;
            left: 0;
        }
        .bd-radius{
            border-radius: 20px;
            padding-top: 8px;
            margin: 20px 30px;
            background-color: #c6292d;
            color: white;
            font-family: 'HelvethaicBd';
            font-size: 25px;
            border: none;
        }
        .navbar-light .navbar-toggler{
            border:none;
        }
        .dropdown-toggle::after{
            border:none;
        }
        a:hover{
            color: white;
        }
        .dropdown-item{
            font-family: 'HelvethaicaX';
            font-size: 23px;
            color: #75b652;
            padding: 15px 50px;
        }
        .border-dropdown-it{
            border-bottom: 1px solid #75b652;
        }
        .navbar-nav .dropdown-menu {
            width: 136.5%;
            margin-top: -1px;
            border: none;
            border-radius: 0;
            margin-left: -50px;
            position: static;
            float: none;
        }
        .set-zindex{
            position: absolute;
         }

}
@media only screen and (orientation: portrait) and (min-width: 737px) and (max-width: 1023px){  /* For iPad mini , iPad */
    .footer{
        position: fixed;
    }
}
@media only screen and (orientation: portrait) and (min-width: 1024px) and (max-width: 1366px){  /* For iPad Pro */
    .footer{
        position: fixed;
    }
}

