.header-privilege{ color: #53a149; font-size: 50px; margin: 0 30px;padding: 30px;}
.set-title-pr{ font-size: 30px; color: #53a149;}
.img-pri{ width: 70%;}
.set-mt-content{ margin: 50px 50px;}
.nav{ display: contents !important;}
.set-content-header{
    margin-left: 3%;
    display: inline-flex;
}
a{
    color: #53a149;
}
.set-detail-col{
    line-height: 25px;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    color: #495057;
    border-bottom: 3px solid #53a149;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: transparent;
}
.btn-primary{
    color: #fff;
    background-color: #53a149;
    border-radius: 15px;
    font-size: 20px;
    width: 50%;
    margin: 20px;
    border-color: transparent;
    font-family: 'HelvethaicaMed';
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover{
    color: #495057;
    border-bottom: 3px solid #53a149;
    border-top: none;
    border-left: none;
    border-right: none;
}
/* .nav-tabs .nav-link{

}  */
.nav-link:focus, .nav-link:hover{
    border: none;
}
.nav-item{
    margin: 0 20px;
}
.card-body:hover{
    background-color: #a6c64b;
    border-radius: 10px;
    height: 80px;
    line-height: 16px;
}
.bg-web-pri{
    background-image: url(/website/images/bg_web-01.jpg);
    background-position: bottom;
    background-size: cover;
}
.card-pri{
    background-color: white;
    border-radius: 10px;
}
.setdetailpri{
    font-family: 'HelvethaicaX';
    font-size: 21px;
}
.btn-pri:hover {
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 3px 5px 6px #ccc;
}
.mobile-pt{
    display: none;
}
.nav-pills .nav-link{
    background-color: #ccc;
}
/* Responsive */
@media screen and (orientation: landscape) and (max-width: 960px) {
    .pc-pt{
        display: none;
    }
}
@media only screen and (orientation: portrait) and (min-width: 320px) and (max-width: 374px){ /* For iPhone 5 */
    .pc-pt{
        display: none;
    }

}
@media only screen and (orientation: portrait) and (min-width: 375px) and (max-width: 413px){ /* For iPhone 6,7,8 */
    .pc-pt{
        display: none;
    }
    .set-mt-content{
        margin: 25px 25px;
    }
    .img-pri{
        width: 100%;
    }
    .set-detail-col{
        line-height: 20px;
        text-align: left;
    }
    .header-privilege{
        font-size: 30px;
        margin: 0 0;
    }
    .set-title-pr{
        font-size: 18px;
    }
    .set-content-header{
        overflow-x: overlay;
    }
    .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
        background-color: #ccc;
    }
}
@media only screen and (orientation: portrait) and (min-width: 414px) and (max-width: 736px){ /* For iPhone 6,7,8 plus */
    .pc-pt{
        display: none;
    }
    .mobile-pt{
        display: block;
    }
}
@media only screen and (orientation: portrait) and (min-width: 737px) and (max-width: 1023px){  /* For iPad mini , iPad */

}
@media only screen and (orientation: portrait) and (min-width: 1024px) and (max-width: 1366px){  /* For iPad Pro */

}
.nav-mt{
    margin: 0 20px !important;
}
.dot{
    height: 35px;
    width: 38px;
    background-color: #53a149;
    border-radius: 50%;
    display: inline-block;
}
.icon-dot{
    font-size: 16px;
}
.btn-primary:hover{
    background-color: #53a149;
    border: 1px solid #53a149;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle{
    background-color: #53a149;
    border: 1px solid #53a149;
}
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus{
    box-shadow: none;
}
.card.card-body.card-condition{
    background-color:#a6c64b !important;
    border-radius: 0;
    border: none;
    height: 0% !important;
    color: white;
    font-size: 20px;
    padding: 30px 0;
    padding-left: 12%;
}
.header-name-reward{
    font-size: 40px;
    color: #53a149;
}
.subheader-reward{
    line-height: 10px;
    font-size: 30px;
}
.subpoint-reward{
    font-size: 50px;
    margin-top: 5%;
    color: #53a149;
}
.insertedeem{
    font-family: 'HelvethaicaMed';
    font-size: 30px;
    color: white;
    padding-top: 10px;
}
.bd-insertrd{
    background-color:#53a149;
    border-radius: 20px;
    width: 30%;
    margin-top: 5%;
    text-align: center;
}
.condition-redeem{
    color: #53a149;
    font-size: 27px;
}
.headdetail-reward{
    font-size: 30px;
    color: green;
    margin-top: 30px;
    margin-left: 12%;
}
.subdetail-reward{
    font-size: 20px;
    margin-left: 12%;
}
.mt-left-re{
    margin-left: 10%;
    margin-top: 5%;
}
.icon-back{
    color:#53a149;
}
.arrow-previous{
    color: black;
}