.sidenav {
  height: 100%;
  /* width: 0; */
  /* position: fixed; */
  position: absolute;
  z-index: 1;
  /* top: 0; */
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: #f1f1f1;
}
.sidenav .closebtn {
    position: absolute;
    top: 30px;
    right: 25px;
    font-size: 60px;
}
#main {
  transition: margin-left .5s;
  padding: 16px;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.bg-ptmax{
    background: url(/website/images/bgweb-01.jpg);
    background-position: bottom;
    background-size: cover;
}
.box-content{
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 50px 50px;
    padding: 50px 50px;
}
.upload_preview img {width: 100%;height: 6rem; object-fit: cover; border-radius: 4px;}
.upload_preview{border: 2px dashed #c5c5c5;padding: 6px; border-radius: 4px; width: 100%; height: 10rem}
.uploadfile{width: 80%; position: absolute; z-index: 999; height: 10rem;}
.review_image_before {padding: 5px;}
.row_image{margin: 0px -0.3rem;}
  
.errorImageSize {
  font-family: 'DB_Adman_X_Bd';
  color: red;
  font-size: 20px;
}
.preview-image {
    width: initial !important;
    /* height: initial !important; */
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.close-btn {
  position: absolute;
  margin-top: -25px;
  right: 0;
  font-size: 30px;
}
.rotate-btn {
  position: absolute;
  margin-top: -25px;
  text-align: center;
  font-size: 30px;
}
.block-navbar{
  text-align: left;
  margin: 10px 10px;
}
.sidenav a:hover{
  background: rgba(76, 175, 80, 0.3);
  color: #53a149;
  margin: auto;
}
a.signout-font{
  color: red;
}
.btn-sentdata{
  margin: 50px 0;
  font-size: 30px;
  text-align: center;
  background-color: green;
}
.text-btn{ color: white;}
.headet-ptmaxcard{
  color: white;
  font-size: 60px;
  margin: 40px 20px;
}
.span-heading{
  font-size: 30px;
  color: white;
  cursor: pointer;
  font-family: 'HelvethaicaX';
}
.font-user-profile{
  margin-left: 30px;
  color: green;
  font-family: 'HelvethaicBd';
  font-size: 30px;
}
.icon-width{ width: 20%;}
@media screen and (min-width: 1025px) and (max-width: 1281px) {
  .sidenav{ height: 110%;}
}
.img-card{ width:90%; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
.bd-card-control{ margin: 10px 0; padding-top: 15px;}
.mt-card{ margin: 50px 50px;}
.name-card{ font-size: 50px;color: white;}
.ptno-card{ color: white; font-family: 'HelvethaicaLi'; font-size: 38px;}
.point-card{ color: white; font-size: 60px; line-height: 50px;}
.mr-border{ border-right: 1px solid white; height:50px; border-top: 0;}
.cl-7-point{margin-top: 1rem; margin-bottom: 1rem;}
.set-point{ 
  color: white;
  font-family: 'HelvethaicaLi';
  font-size: 30px;
  line-height: 0px;
}
  .detail-point{ color: white; font-size: 20px; font-family: 'HelvethaicaLi';}
  .insert-reward{
    color: white;
    border-radius: 20px;
    background-color: red;
    font-size: 25px;
    padding-top: 5px;
    margin-top:10px;
    font-family: 'HelvethaicaLi';
  }
  .coloritem a{ color: white;}
  .nav { display: flex !important; }
  .nav-tabs { border: none;}
  .bg-nav-tab{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: gainsboro;
    font-size: 30px;
    padding: 15px 50px;
  }
  .box-history{
    padding: 25px 0;
    background-color: white;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  }

  nav > .nav.nav-tabs{

    border: none;
      color:#fff;
      background:gainsboro;
      border-radius:0;
  
  }
  nav > div a.nav-item.nav-link,
  nav > div a.nav-item.nav-link.active
  {
    font-size: 30px;
    border: none;
      padding: 18px 25px;
      color:#fff;
      background:#a0c516;
      border-radius:0;
  }
  
  nav > div a.nav-item.nav-link.active:after
   {
    content: "";
    position: relative;
    bottom: -60px;
    left: -10%;
    border: 15px solid transparent;
    border-top-color: #a0c516 ;
  }
  .tab-content{
    background: #fdfdfd;
      line-height: 25px;
      border: 1px solid #ddd;
      /* border-top:5px solid #53a149;
      border-bottom:5px solid #53a149; */
      padding:30px 25px;
  }
  
  nav > div a.nav-item.nav-link:hover,
  nav > div a.nav-item.nav-link:focus
  {
    border: none;
      background: #a0c516;
      color:#fff;
      border-radius:0;
      transition:background 0.20s linear;
  }
  .select-date{
    font-size: 30px;
    text-align: center;
    padding: 30px;
  }
  .dropdown-history{
    width: 25%;
    border: 1px solid black;
    font-size: 25px;
    height: 50px;
    border-radius: 20px;
    margin: 0 12%;
  }
  nav > div a.nav-item.nav-link, nav > div a.nav-item.nav-link{
    font-size: 30px;
    border: none;
      padding: 18px 25px;
      color:#fff;
      background:gainsboro;
      border-radius:0;
  }
  .search-text{
    height: 50px;
    padding-top: 5px;
    text-align: center;
    font-size: 30px;
    margin: 50px 30px;
    background-color: #10a94e;
    border-radius: 20px;
    color: white;
    padding: 0 70px;
  }
  .name-history{
    font-size: 35px;
    font-family: 'HelvethaicaLi';
    color: #1d8b43;
    margin-left: 10%;
  }
  .detail-history{
    font-family: 'HelvethaicaLi';
    font-size: 23px;
    margin-left: 10%;
  }
  .bt-border{
    border-bottom: 2px dashed gainsboro;
    margin: 2% 5%;
    padding-bottom: 5px;
    line-height: 35px;
  }
  .point-screen{
    font-size: 35px;
    font-family: 'HelvethaicaLi';
    color: #1d8b43;
    text-align: right;
  }
  .point-burn{
    font-size: 35px;
    font-family: 'HelvethaicaLi';
    color: red;
    text-align: right;
  }
  .nav-item{
    margin: 0;
  }
  .next-arrow{
    margin-top: 100px;
    margin-right: 50px;
    text-align: right!important;
    color: slategrey;
  }
  .inextarrow{ font-size: 35px;}
  .header-profile{
    font-size: 35px;
    font-family: 'HelvethaicBd';
    color: #1d8b43;
    margin: 20px 0;
  }
  label{
    color: #777;
    font-size: 23px;
    font-family: 'HelvethaicaMed';
  }
.btn-next{
  border-radius: 20px;
  background-color: #1d8b43;
  font-size: 23px;
}
.form-control {
  font-size: 20px;
  color: #03ac4f;
}
input[type="text"] {
  margin-top: 0.2rem;
  padding: .375rem .75rem;
  border-radius: .25rem;
  border: 1px solid #ced4da;
  width: 100%;
  color: #03ac4f;
}
.required{ color: red   ;}
.form-group { margin-bottom: 0.5rem; margin-top: 1rem;}
.form-control  { font-size: 16px;color: #03ac4f;}
.form-control:focus { color: #707070;}
.input_form::-webkit-input-placeholder { color:#cccccc; }  /* WebKit, Blink, Edge */
.input_form:-moz-placeholder { color:#cccccc; }  /* Mozilla Firefox 4 to 18 */
.input_form::-moz-placeholder { color:#cccccc; }  /* Mozilla Firefox 19+ */
.input_form:-ms-input-placeholder { color:#cccccc; }  /* Internet Explorer 10-11 */
.input_form::-ms-input-placeholder { color:#cccccc; }  /* Microsoft Edge */

button, input, optgroup, select, textarea{
  font-family: none;
}

 /* The selectoneonly */
 .selectoneonly {
  display: inline-block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 1px 10px 0px 30px;
  margin: 5px 0px 10px;
  border-radius: 2px;
  font-weight: normal;
  letter-spacing: 0px;
  line-height: 27px;
  width: 100%;
  color: #707070;
  font-family: 'HelvethaicaMed';
  font-size: 20px;
}

/* Hide the browser's default radio button */
.selectoneonly input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark_selectoneonly {
  position: absolute;
  top: 3px;
  left: 0px;
  height: 22px;
  width: 22px;
  border-radius: 2px;
  background-color: white;
  border: 1px solid #c5c5c5;
}


/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark_selectoneonly:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.selectoneonly input:checked ~ .checkmark_selectoneonly:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.selectoneonly .checkmark_selectoneonly:after {
  left: 0px;
  top: 0px;
  height: 22px;
  border: solid #03ac4f;
  border-width: 11px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(0deg);
  border-radius: 2px;
}

.check_conditions_select {
  display: inline-block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 1px 10px 0px 30px;
  margin: 5px 0px 10px;
  border-radius: 2px;
  font-weight: normal;
  letter-spacing: 0px;
  line-height: 27px;
  width: 100%;
  color: #7c7c7c;
  font-family: 'HelvethaicaMed';
  font-size: 20px;
}
.check_conditions_select input:checked ~ .checkmark_condition_select:after {
  display: block;
}
.check_conditions_select .checkmark_condition_select:after {
  left: 0px;
  top: 0px;
  width: 22px;
  height: 22px;
  border: solid #03ac4f;
  border-width: 11px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(0deg);
  border-radius: 2px;
}
.checkmark_condition_select {
  position: absolute;
  top: 3px;
  left: 0px;
  height: 22px;
  width: 22px;
  border-radius: 2px;
  background-color: white;
  border: 1px solid #c5c5c5;
}
.checkmark_condition_select:after {
  content: "";
  position: absolute;
  display: none;
}

.check_conditions_select input{
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.btn-secondary{
    background-color: #03ac4f;
    border-color: #03ac4f;
    font-family: 'HelvethaicaMed';
    font-size: 25px;
    /* margin: 40px 0; */
    border-radius: 20px;
}
label.recommend{
  font-size: 18px;
}
label.addtional{
  margin: 10px 0;
}

.check_conditions_form {
  display: inline-block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0px 10px 0px 30px;
  margin: 0px 0px 10px;
  border-radius: 2px;
  font-weight: normal;
  letter-spacing: 0px;
  line-height: 36px;
  width: 100%;

}
input[type=checkbox], input[type=radio] {
  display: none;
}
.checkmark_condition {
  position: absolute;
  top: 3px;
  left: 0px;
  height: 22px;
  width: 22px;
  /* border: 2px solid #03ac4f; */
  border-radius: 2px;
  background-color: white;
  border: 1px solid #c5c5c5;
}
.checkmark_condition:after {
  content: "";
  position: absolute;
  display: none;
}
.check_conditions_form input:checked ~ .checkmark_condition:after {
  display: block;
}
.check_conditions_form .checkmark_condition:after {
  left: 8px;
  top: 1px;
  width: 7px;
  height: 17px;
  border: solid #03ac4f;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.sent-data-success{
  color: #03ac4f;
  font-size: 60px;
}
.check_conditions {
  display: inline-block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 4px 10px 0px 30px;
  margin: 10px 0px 10px;
  border-radius: 2px;
  font-weight: normal;
  letter-spacing: 0px;
  line-height: 22px;
  width: 100%;
  color: #707070;
  font-family: 'HelvethaicBd';
  font-size: 23px;
}
.check_conditions input:checked ~ .checkmark_condition:after {
  display: block;
}
.check_conditions .checkmark_condition:after {
  left: 8px;
  top: 1px;
  width: 7px;
  height: 17px;
  border: solid #03ac4f;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* Responsive */
@media screen and (orientation: landscape) and (max-width: 960px) {

}
@media only screen and (orientation: portrait) and (min-width: 320px) and (max-width: 374px){ /* For iPhone 5 */
  .upload_preview{
    height: 4rem;
  }
  .upload_preview img{
    height: 3rem;
  }
  .headet-ptmaxcard{ font-size: 40px; margin: 20px 0;}
}
@media only screen and (orientation: portrait) and (min-width: 375px) and (max-width: 413px){ /* For iPhone 6,7,8 */
  .headet-ptmaxcard{ font-size: 40px; margin: 20px 0;}
  .mr-border{ border-top: 1px solid white; height:0; border-right: 0;}
  .bd-card-control{ margin: 30px 0; }
  .insert-reward{ font-size: 20px;}
  .font-user-profile{margin: 0 20%;}
  .check_conditions_form{ font-size: 20px; }
  .preview-image{ position : relative;}
  .upload_preview img{ height: 4rem;}
  .upload_preview{ height: 5rem;}
  .check_conditions{ font-size: 20px;}
}
@media only screen and (orientation: portrait) and (min-width: 414px) and (max-width: 736px){ /* For iPhone 6,7,8 plus */

}
@media only screen and (orientation: portrait) and (min-width: 737px) and (max-width: 1023px){  /* For iPad mini , iPad */

}
@media only screen and (orientation: portrait) and (min-width: 1024px) and (max-width: 1366px){  /* For iPad Pro */

}
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(255,255,255, 10);
  overflow-x: hidden;
  transition: 0.5s;
}
.overlay-content {
  position: relative;
  top: 5%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
.overlay a {
  padding: 20px;
  text-decoration: none;
  font-size: 36px;
  display: block;
  transition: 0.3s;
}
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
  background: rgba(76, 175, 80, 0.3);
  color: #53a149;
  margin: auto;
}
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: black;
 
}
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px; }
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}
a:not([href]):not([tabindex]){
  color: white;
}
.send-font{
  color: white;
  font-family: 'HelvethaicaMed';
}
.disabled {
  opacity: 0.7;
  pointer-events: none;
  background-color: #ebebeb !important;
}
.react-date-picker{
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
}
.react-date-picker__wrapper{
  border: none !important;
}
.react-date-picker__inputGroup{
  color: black;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}