/* 404 page */
.card-404{top:100px!important;border: none!important;box-shadow: 0px 0px 2px 1px #dadada;}
.h1-404{font-size: 100px!important;}
.h5-404{font-size: 30px!important;}

/* Loading */
.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #28a354;
  width: 50px;height: 50px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  margin:auto;
  left:0;
  right:0;
  top:0;
  bottom:0;
  position:fixed;
}
.loaderdetail{
  border: 3px solid #f3f3f3;
  border-radius: 50%;
  border-top: 3px solid #28a354;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  margin-top:10%;
  margin-bottom:40px;
}
.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #28a354;
  width: 50px;height: 50px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  margin:auto;
  left:0;
  right:0;
  top:0;
  bottom:0;
  position:fixed;
}
.gif-logo{
  background: url("../../images/Loading_0.gif") no-repeat center;
  
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.tab-content{
  padding: 0px 0px!important;
}

.t-16{font-size: 16px!important;}
/* .t-18{font-size: 18px!important;} */
.t-20{font-size: 20px!important;}
.t-22{font-size: 22px!important;}
.t-24{font-size: 24px!important;}
.t-30{font-size: 30px!important;}
.t-50{font-size: 50px!important;}
.t-60{font-size: 60px!important;}

.t-dark{color: #343a40;}
.t-mute{color: #919496;}
.t-green{color: #28a354;}

.t-height-20{
  line-height: 20px;
}
.img-listshop{
  width:100%;height: 100px;object-fit: cover;
}

.nav-ptgmap{
  background-color: #28a354;
  color: #fff;
  border-radius: 10px;
  font-size: 20px!important;
}

.nav-ptgmap .border-left{
  border-left: 1px solid #fff!important;
  border-radius: 0px;
}

.nav-ptgmap .nav-link.active, .nav-ptgmap .show>.nav-link {
  background-color: #28a354;
  color: #fff;
  border-radius: 10px;
}

.img-round{
  padding-top: 5px;
  width:27px;height: 30px;object-fit: cover;
  border-radius: 50%
}

.bg-white{
  background-color: #fff;
}


input.icon-search-gray{
  background: url("../../images/icon/icon_FAQ_seach@3x.png") no-repeat right;
  background-size: 18px;
  background-position-x: 4%;
  padding-left: 50px;
  -webkit-appearance: none;
}
select.arrow-down-black {
  background: url("../../images/icon/icon_arrow_down@3x.png") no-repeat right;
  background-position-x: 95%;
  background-size: 20px;
  padding-right: 40px;
  -webkit-appearance: none;
}
/* 
.fix-bottom {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 10px;
  background-color: #fff!important;
} */
.heigh-footer{
  height: 50px;
  background-color: #fff!important;
}

button.btn-green{
  background-color: #28a354;
  color: #fff;
}

select.select-pro{
  background-color: #fff!important;
  border: 1px solid #dedede!important;
  box-shadow: none!important;
  font-size: 18px!important;
}
select.select-pro:focus{
  background-color: #fff!important;
  border: 1px solid #28a354!important;
  box-shadow: none!important;
  font-size: 18px!important;


}

/* input[type=checkbox] {
  display:none!important;
}
input[type=checkbox] + label{
  opacity: 1!important;
  display:inline-block!important;
}
input[type=checkbox]:checked + label{
  opacity: 0.2!important;
  display:inline-block!important;
} */

input[type=checkbox] {
  display:none!important;
}
input[type=checkbox] + label{
  opacity: 0.2!important;
  display:inline-block!important;
}
input[type=checkbox]:checked + label{
  opacity: 1!important;
  display:inline-block!important;
}


#kmdis {
  background: transparent!important;
  border: none!important;
  box-shadow: none!important;
}

.img-logo-detail{
  width:100px;height: 100px;object-fit: cover;
}
.img-logodetail{
  position: absolute;
  margin-top:50px;
}


.arrow-back{
  position: absolute;
  z-index: 1;
}





.marktest1{margin:0px;}
.marktest2{margin:10px;}
.marktest3{margin:20px;}
.marktest4{margin:30px;}
.marktest5{margin:0px;}
.marktest6{margin:10px;}
.marktest7{margin:20px;}
.marktest8{margin:30px;}
.marktest9{margin:0px;}
.marktest10{margin:10px;}
.marktest11{margin:20px;}
.marktest12{margin:30px;}
.marktest13{margin:0px;}
.marktest14{margin:10px;}
.marktest15{margin:20px;}
.marktest16{margin:30px;}
.marktest17{margin:10px;}
.marktest18{margin:20px;}
.marktest19{margin:30px;}
.marktest20{margin:0px;}
.marktest21{margin:10px;}
.marktest22{margin:20px;}
.marktest23{margin:30px;}
.marktest24{margin:0px;}
.marktest25{margin:10px;}
.marktest26{margin:20px;}
.marktest27{margin:30px;}
.marktest28{margin:0px;}
.marktest29{margin:10px;}
.marktest30{margin:20px;}
.marktest31{margin:30px;}
.marktest32{margin:0px;}
.marktest33{margin:10px;}
.marktest34{margin:20px;}
.marktest35{margin:30px;}
.marktest36{margin:0px;}
.marktest37{margin:10px;}
.marktest38{margin:20px;}
.marktest39{margin:30px;}
.marktest40{margin:0px;}
.marktest41{margin:10px;}
.marktest42{margin:20px;}
.marktest43{margin:30px;}
.marktest44{margin:0px;}
.marktest45{margin:10px;}
.marktest46{margin:20px;}
.marktest47{margin:30px;}
.marktest48{margin:0px;}
.marktest49{margin:10px;}
.marktest50{margin:20px;}
.marktest51{margin:30px;}
.marktest52{margin:0px;}
.marktest53{margin:10px;}
.marktest54{margin:20px;}
.marktest55{margin:30px;}
.marktest56{margin:0px;}
.marktest57{margin:10px;}
.marktest58{margin:20px;}
.marktest59{margin:30px;}
.marktest60{margin:0px;}
.marktest61{margin:10px;}
.marktest62{margin:20px;}
.marktest63{margin:30px;}
.marktest64{margin:0px;}
.marktest65{margin:10px;}
.marktest66{margin:20px;}
.marktest67{margin:30px;}
.marktest68{margin:0px;}
.marktest69{margin:10px;}
.marktest70{margin:20px;}
.marktest71{margin:30px;}
.marktest72{margin:0px;}
.marktest73{margin:10px;}
.marktest74{margin:20px;}
.marktest75{margin:30px;}
.marktest76{margin:0px;}
.marktest77{margin:10px;}
.marktest78{margin:20px;}
.marktest79{margin:30px;}
.marktest80{margin:0px;}
.marktest81{margin:10px;}
.marktest82{margin:20px;}
.marktest83{margin:30px;}
.marktest84{margin:0px;}
.marktest85{margin:10px;}
.marktest86{margin:20px;}
.marktest87{margin:30px;}
.marktest88{margin:0px;}
.marktest89{margin:10px;}
.marktest90{margin:20px;}
.marktest91{margin:30px;}
.marktest92{margin:0px;}
.marktest93{margin:10px;}
.marktest94{margin:20px;}
.marktest95{margin:30px;}
.marktest96{margin:0px;}
.marktest97{margin:10px;}
.marktest98{margin:20px;}
.marktest99{margin:30px;}
.marktest100{margin:0px;}
.marktest101{margin:10px;}
.marktest102{margin:20px;}
.marktest103{margin:30px;}
.marktest104{margin:0px;}
.marktest105{margin:10px;}
.marktest106{margin:20px;}
.marktest107{margin:30px;}
.marktest108{margin:0px;}
.marktest109{margin:10px;}
.marktest110{margin:20px;}
.marktest111{margin:30px;}
.marktest112{margin:0px;}
.marktest113{margin:10px;}
.marktest114{margin:20px;}
.marktest115{margin:30px;}
.marktest116{margin:0px;}
.marktest117{margin:10px;}
.marktest118{margin:20px;}
.marktest119{margin:30px;}
.marktest120{margin:0px;}
.marktest121{margin:10px;}
.marktest122{margin:20px;}
.marktest123{margin:30px;}
.marktest124{margin:0px;}
.marktest125{margin:10px;}
.marktest126{margin:20px;}
.marktest127{margin:30px;}
.marktest128{margin:0px;}
.marktest129{margin:10px;}
.marktest130{margin:20px;}
.marktest131{margin:30px;}
.marktest132{margin:0px;}
.marktest133{margin:10px;}
.marktest134{margin:20px;}
.marktest135{margin:30px;}
.marktest136{margin:10px;}
.marktest137{margin:20px;}
.marktest138{margin:30px;}
.marktest139{margin:0px;}
.marktest140{margin:10px;}
.marktest141{margin:20px;}
.marktest142{margin:30px;}
.marktest143{margin:0px;}
.marktest144{margin:10px;}
.marktest145{margin:20px;}
.marktest146{margin:30px;}
.marktest147{margin:0px;}
.marktest148{margin:10px;}
.marktest149{margin:20px;}
.marktest150{margin:30px;}
.marktest151{margin:0px;}
.marktest152{margin:10px;}
.marktest153{margin:20px;}
.marktest154{margin:30px;}
.marktest155{margin:0px;}
.marktest156{margin:10px;}
.marktest157{margin:20px;}
.marktest158{margin:30px;}
.marktest159{margin:0px;}
.marktest160{margin:10px;}
.marktest161{margin:20px;}
.marktest162{margin:30px;}
.marktest163{margin:0px;}
.marktest164{margin:10px;}
.marktest165{margin:20px;}
.marktest166{margin:30px;}
.marktest167{margin:0px;}
.marktest168{margin:10px;}
.marktest169{margin:20px;}
.marktest170{margin:30px;}
.marktest171{margin:0px;}
.marktest172{margin:10px;}
.marktest173{margin:20px;}
.marktest174{margin:30px;}
.marktest175{margin:0px;}
.marktest176{margin:10px;}
.marktest177{margin:20px;}
.marktest178{margin:30px;}
.marktest179{margin:0px;}
.marktest180{margin:10px;}
.marktest181{margin:20px;}
.marktest182{margin:30px;}
.marktest183{margin:0px;}
.marktest184{margin:10px;}
.marktest185{margin:20px;}
.marktest186{margin:30px;}
.marktest187{margin:20px;}
.marktest188{margin:30px;}
.marktest189{margin:0px;}
.marktest190{margin:10px;}
.marktest191{margin:20px;}
.marktest192{margin:30px;}
.marktest193{margin:0px;}
.marktest194{margin:10px;}
.marktest195{margin:20px;}
.marktest196{margin:30px;}
.marktest197{margin:0px;}
.marktest198{margin:10px;}
.marktest199{margin:20px;}
.marktest200{margin:30px;}

.marktest201{margin:10px;}
.marktest202{margin:20px;}
.marktest203{margin:30px;}
.marktest204{margin:0px;}
.marktest205{margin:10px;}
.marktest206{margin:20px;}
.marktest207{margin:30px;}
.marktest208{margin:0px;}
.marktest209{margin:10px;}
.marktest210{margin:20px;}
.marktest211{margin:30px;}
.marktest212{margin:0px;}
.marktest213{margin:10px;}
.marktest214{margin:20px;}
.marktest215{margin:30px;}
.marktest216{margin:0px;}
.marktest217{margin:10px;}
.marktest218{margin:20px;}
.marktest219{margin:30px;}
.marktest220{margin:0px;}
.marktest221{margin:10px;}
.marktest222{margin:20px;}
.marktest223{margin:30px;}
.marktest224{margin:0px;}
.marktest225{margin:10px;}
.marktest226{margin:20px;}
.marktest227{margin:30px;}
.marktest228{margin:0px;}
.marktest229{margin:10px;}
.marktest230{margin:20px;}
.marktest231{margin:30px;}
.marktest232{margin:0px;}
.marktest233{margin:10px;}
.marktest234{margin:20px;}
.marktest235{margin:30px;}
.marktest236{margin:10px;}
.marktest237{margin:20px;}
.marktest238{margin:30px;}
.marktest239{margin:0px;}
.marktest240{margin:10px;}
.marktest241{margin:20px;}
.marktest242{margin:30px;}
.marktest243{margin:0px;}
.marktest244{margin:10px;}
.marktest245{margin:20px;}
.marktest246{margin:30px;}
.marktest247{margin:0px;}
.marktest248{margin:10px;}
.marktest249{margin:20px;}
.marktest250{margin:30px;}
.marktest251{margin:0px;}
.marktest252{margin:10px;}
.marktest253{margin:20px;}
.marktest254{margin:30px;}
.marktest255{margin:0px;}
.marktest256{margin:10px;}
.marktest257{margin:20px;}
.marktest258{margin:30px;}
.marktest259{margin:0px;}
.marktest260{margin:10px;}
.marktest261{margin:20px;}
.marktest262{margin:30px;}
.marktest263{margin:0px;}
.marktest264{margin:10px;}
.marktest265{margin:20px;}
.marktest266{margin:30px;}
.marktest267{margin:0px;}
.marktest268{margin:10px;}
.marktest269{margin:20px;}
.marktest270{margin:30px;}
.marktest271{margin:0px;}
.marktest272{margin:10px;}
.marktest273{margin:20px;}
.marktest274{margin:30px;}
.marktest275{margin:0px;}
.marktest276{margin:10px;}
.marktest277{margin:20px;}
.marktest278{margin:30px;}
.marktest279{margin:0px;}
.marktest280{margin:10px;}
.marktest281{margin:20px;}
.marktest282{margin:30px;}
.marktest283{margin:0px;}
.marktest284{margin:10px;}
.marktest285{margin:20px;}
.marktest286{margin:30px;}
.marktest287{margin:20px;}
.marktest288{margin:30px;}
.marktest289{margin:0px;}
.marktest290{margin:10px;}
.marktest291{margin:20px;}
.marktest292{margin:30px;}
.marktest293{margin:0px;}
.marktest294{margin:10px;}
.marktest295{margin:20px;}
.marktest296{margin:30px;}
.marktest297{margin:0px;}
.marktest298{margin:10px;}
.marktest299{margin:20px;}
.marktest300{margin:30px;}