.img-news{
    width: 100%;
}
.sub-head-title{
    color: #53a149;
    font-size: 25px;
    font-family: 'HelvethaicBd';
}
.content-sub{
    color: #53a149;
}
.datetime-sub{
    color: #53a149;
    text-align: left;
    font-size: 20px;
    font-family: 'HelvethaicaMed';
}
.readmore-sub{
    left: -5%;
    margin: 0;
    padding: 0;
    color: white;
    font-size: 20px;
    border-radius: 20px;
    background-color: #53a149;
    font-family: 'HelvethaicaMed';
}

.header-privilege{ color: #53a149; font-size: 50px; margin: 0 30px;padding: 30px;}
.set-title-pr{ font-size: 30px; color: #53a149;}
.img-pri{ width: 70%;}
.set-mt-content{ margin: 50px 50px;}
.nav{ display: contents !important;}
.set-content-header{
    margin-left: 3%;
    display: inline-flex;
}
a{
    color: #53a149;
}
.set-detail-col{
    line-height: 25px;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    color: #495057;
    border-bottom: 3px solid #53a149;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: transparent;
}
.btn-primary{
    color: #fff;
    background-color: #53a149;
    border-radius: 15px;
    font-size: 20px;
    width: 50%;
    margin: 20px;
    border-color: transparent;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover{
    color: #495057;
    border-bottom: 3px solid #53a149;
    border-top: none;
    border-left: none;
    border-right: none;
}
/* .nav-tabs .nav-link{

}  */
.nav-link:focus, .nav-link:hover{
    border: none;
}
.nav-item{
    margin: 0 20px;
}
.card-body:hover{
    background-color: #a6c64b;
    border-radius: 10px;
    height: 80px;
    line-height: 16px;
}
.bg-web-pri{
    background-image: url(/website/images/bg_web-01.jpg);
    background-position: bottom;
    background-size: cover;
}
.card-pri{
    background-color: white;
    border-radius: 10px;
}
.setdetailpri{
    font-family: 'HelvethaicaX';
    font-size: 21px;
}
.btn-pri:hover {
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 3px 5px 6px #ccc;
}
.mobile-pt{
    display: none;
}
.nav-pills .nav-link{
    background-color: #ccc;
}
/* Responsive */
@media screen and (orientation: landscape) and (max-width: 960px) {
    .pc-pt{
        display: none;
    }
}
@media only screen and (orientation: portrait) and (min-width: 320px) and (max-width: 374px){ /* For iPhone 5 */
    .pc-pt{
        display: none;
    }

}
@media only screen and (orientation: portrait) and (min-width: 375px) and (max-width: 413px){ /* For iPhone 6,7,8 */
    .pc-pt{
        display: none;
    }
    .set-mt-content{
        margin: 25px 25px;
    }
    .img-pri{
        width: 100%;
    }
    .set-detail-col{
        line-height: 20px;
        text-align: left;
    }
    .header-privilege{
        font-size: 30px;
        margin: 0 0;
    }
    .set-title-pr{
        font-size: 18px;
    }
    .set-content-header{
        overflow-x: overlay;
    }
    .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
        background-color: #ccc;
    }
}
@media only screen and (orientation: portrait) and (min-width: 414px) and (max-width: 736px){ /* For iPhone 6,7,8 plus */
    .pc-pt{
        display: none;
    }
    .mobile-pt{
        display: block;
    }
}
@media only screen and (orientation: portrait) and (min-width: 737px) and (max-width: 1023px){  /* For iPad mini , iPad */

}
@media only screen and (orientation: portrait) and (min-width: 1024px) and (max-width: 1366px){  /* For iPad Pro */

}
.nav-mt{
    margin: 0 10px;
}
