.img-logodetail{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -80%);
}

.t-height-20{
    line-height: 20px;
}

input.form-control.input-search{border-right: 0;padding-left: 55px;background-color: #fff;border:0;box-shadow: 0px 0px 5px 1px #eeeeee;border-radius: 5px!important;}
input.form-control.input-search::placeholder { color: #dcdcdc;}
input.form-control.input-search:focus{
    border-right: 0;
    padding-left: 55px;
    background-color: #fff;
    box-shadow: 0px 0px 5px 2px #e3e3e3;
    border-radius: 5px!important;
    /* border: 1px bold #3bb8aa; */

}
.header-location-font{
    padding-top: 60px;
    padding-bottom: 60px;
    color: #53a149;
    font-size: 70px;
}
label, legend{
    display: inline-flex;
}
.localtion-btn-nextstep{
    background-color: #53a149;
    font-family: 'HelvethaicaMed';
    font-size: 25px;
    color: white;
    border-radius: 20px;
}
.subheader-location{
    font-family: 'HelvethaicaMed';
    color: black;
    font-size: 23px;
}
.set-font-selected{
    font-family: initial;
}
.kmdis{
    font-size: 20px;
}




/* Responsive */
@media screen and (orientation: landscape) and (max-width: 960px) {
    .header-location-font{
        font-size: 53px;
    }
}
@media only screen and (orientation: portrait) and (min-width: 320px) and (max-width: 374px){ /* For iPhone 5 */
    .header-location-font{
        font-size: 53px;
    }
}
@media only screen and (orientation: portrait) and (min-width: 375px) and (max-width: 413px){ /* For iPhone 6,7,8 */
    .header-location-font{
        font-size: 53px;
    }
}
@media only screen and (orientation: portrait) and (min-width: 414px) and (max-width: 736px){ /* For iPhone 6,7,8 plus */
    .header-location-font{
        font-size: 53px;
    }
}   
@media only screen and (orientation: portrait) and (min-width: 737px) and (max-width: 1023px){  /* For iPad mini , iPad */
    
}
@media only screen and (orientation: portrait) and (min-width: 1024px) and (max-width: 1366px){  /* For iPad Pro */

}
@media only screen and (max-width: 413px) and (min-width: 375px) and (orientation: portrait){

}